{% extends "index.html" %} {% block title %} Регистрация {% endblock title %}
{% block header_promo %}{% endblock header_promo %}
{% block content %}
<div class="row justify-content-center my-5">
    <form class="col-6" method="POST">
        {% csrf_token %}

        <div class="mb-3 row">
            <label for="{{form.date.id_for_label}}" class="col-form-label">{{form.date.label}}</label>
            <input type="date" class="form-control" id="{{ form.date.id_for_label }}" name="{{ form.date.html_name }}">
        </div>

        <div class="mb-3 row">
            <label for="{{form.time.id_for_label}}" class="col-form-label">{{form.time.label}}</label>
            <input type="time" class="form-control" id="{{ form.time.id_for_label }}" name="{{ form.time.html_name }}">
        </div>

        <div class="mb-3 row">
            <label for="{{form.commentary.id_for_label}}" class="col-form-label">{{form.commentary.label}}</label>
            <textarea name="form.commentary.html_name" id="form.commentary.id_for_label" class="form-control" cols="30"
                rows="10"></textarea>
        </div>

        <input type="hidden" name="user_order" value="{{user_pk}}">
        <input type="hidden" name="service_order" value="{{service_pk}}">

        {% for field in form %} {{ field.errors }} {% endfor %}
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary p-3 w-75">Записаться</button>
        </div>
    </form>
</div>

{% endblock content %}